<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta
          name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui,viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>com.elgato.sibelius-plugin-runner Property Inspector</title>
    <link rel="stylesheet" href="../../../../libs/css/sdpi.css" />
    <link rel="stylesheet" href="./sibelius.css" />
</head>

<body>
    <div class="sdpi-wrapper">
        <form id="property-inspector">
            <div class="sdpi-item sibelius-category-dropdown">
                <div class="sdpi-item">
                    <div class="sdpi-item-label">Category</div>
                    <select class="sdpi-item-value select sibelius-elem-full" id="sibelius-plugin-category">
                    </select>
                </div>
            </div>
            <div class="sdpi-item sibelius-plugin-dropdown">
                <div class="sdpi-item">
                    <div class="sdpi-item-label">Name</div>
                    <select class="sdpi-item-value select sibelius-elem-full" id="sibelius-plugin-name">
                    </select>
                </div>
            </div>
        </form>
        <hr>
        <div class="sdpi-item" id="my_private_file_selector">
            <div class="sdpi-item-label">Select File</div>
            <div class="sdpi-item-group file" id="sibelius-filepicker-group">
                <input class="sdpi-item-value" id="sibelius-file" type="file" accept=".json, application/JSON">
                <label class="sdpi-file-info " for="sibelius-file">no file...</label>
                <label class="sdpi-file-label" for="sibelius-file">Choose file...</label>
            </div>
        </div>
        <div class="sdpi-item alignTop">
            <div class="sdpi-item-label info" id="sibelius-upload-info"></div>
            <strong class="sdpi-item-value">
                Each time you upload a file containing plugin names, a new connection will need to be made with Sibelius.
            </strong>
        </div>
    </div>

    <div class="sdpi-info-label hidden" style="top: -1000" value=""></div>

    <!-- Stream Deck Libs -->
    <script src="../../../../libs/js/constants.js"></script>
    <script src="../../../../libs/js/prototypes.js"></script>
    <script src="../../../../libs/js/timers.js"></script>
    <script src="../../../../libs/js/utils.js"></script>
    <script src="../../../../libs/js/events.js"></script>
    <script src="../../../../libs/js/api.js"></script>
    <script src="../../../../libs/js/property-inspector.js"></script>
    <script src="../../../../libs/js/dynamic-styles.js"></script>

    <!-- Property Inspector Source -->
    <script src="inspector.js"></script>
</body>

</html>
